body {
  font-family: "Roboto", Arial, sans-serif;
}
.main-block-resume-page,
.my-work,
.about-me-block,
.companies-block,
footer {
  padding-top: 100px;
  padding-bottom: 120px;
}

/* NAVIGATION */
.nav-pills .nav-link.active {
  background-color: black;
}
.nav-pills .active {
  border: 1px solid rgb(174, 160, 160);
}
.navbar-nav {
  --bs-nav-link-color: white;
}

/* HEADER */
.header-div {
  background-color: black;
  color: white;
  padding-top: 80px;
}
.header-div h1 {
  font-size: 52px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
  text-transform: uppercase;
}
.header-div h2 {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.45;
  font-weight: 300;
  margin-bottom: 20px;
}
#text-typing {
  width: 20ch;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black;
  animation: 3s steps(20, end) border, 3s steps(20) printed-text;
}
.text-typing-next {
  width: 13ch;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black;
  animation: 2s steps(13, end) 3s border, 2s steps(13) 3s printed-text;
}
.text-typing-n-n {
  width: 9ch;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid black;
  animation: 1.5s step-end infinite 4.7s border, 1.5s steps(9) 5s printed-text;
}
@keyframes printed-text {
  from {
    width: 0;
  }
}
@keyframes border {
  0% {
    border-color: black;
  }
  50% {
    border-color: #ff8562;
  }
  100% {
    border-color: #ff8562;
  }
}
.main-photo {
  width: 550px;
}
.header-div h3 {
  color: #424242;
  line-height: 1.55;
  font-weight: 400;
  margin: 78px 30px 0 0;
}
.text-hello {
  font-size: 20px;
}
.ukrainian {
  font-size: 16px;
}
.fa-arrow-down {
  color: white;
}

/* BLOCK "MY WORK" */
.resume-page-h1,
.work-page-h1,
.my-work-h2 {
  font-size: 58px;
  text-align: center;
  font-weight: 700;
}
.addition {
  text-align: center;
  line-height: 14px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
  letter-spacing: 2.5px;
}
.item-works {
  background-color: rgb(180 180 180 / 16%);
  padding: 0px;
  margin: 10px;
}
.item-works img {
  max-width: 100%;
  height: auto;
}
.grayscale {
  filter: grayscale(1);
  transition: 1s;
}
.grayscale:hover {
  filter: grayscale(0);
}
.item-col {
  padding: 30px;
}
.date {
  color: #ff8562;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.5px;
}
.item-works h3 {
  font-size: 24px;
  font-weight: 700;
}
.short-text-project {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 40px;
}
.item-works a {
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
}
.item-works a:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.button-launch {
  font-weight: 600;
  font-size: 14px;
}
.button-work-block {
  padding-top: 90px;
  margin: 0;
  text-align: center;
}
.works-button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 18px 90px;
  font-size: 16px;
  font-weight: 700;
}
.works-button:hover {
  color: white;
  box-shadow: 2px 2px #4f4f4f;
}

/* Block "About me" */
.about-me-block {
  padding-left: 80px;
  padding-right: 80px;
}
.about-me-block h2 {
  color: #ffffff;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
}
.contact-page-h4,
.about-me-block h4 {
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
}
.about-me-block h4 {
  text-align: center;
}
.block-facts {
  padding: 0px 80px 80px;
}
.about-me-block h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
}
.number {
  color: #4f4f4f;
  font-size: 60px;
  font-weight: 600;
}
.about-me-block p {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 300;
  width: 275px;
  text-align: justify;
}
#about-me {
  background-color: black;
  margin: 0;
}

/* Block "Companies" */
.companies-block {
  background-color: black;
}
.companies-block h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.companies-block h4 {
  color: #545454;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: center;
  margin-bottom: 60px;
}

footer {
  background-color: black;
}
.footer-h2 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.email {
  color: #8a8a8a !important;
}
.icons a {
  text-decoration: none;
  font-size: 36px;
  color: #8a8a8a !important;
  margin-right: 5px;
}
a i:hover {
  color: white;
}
.fa-linkedin-in {
  font-size: 24px;
  padding: 7px 5px 0;
  border: 2px solid #8a8a8a;
  border-radius: 20px;
  background-color: #8a8a8a;
  color: black;
}

/* Contact Page */
.contact-page-h1 {
  margin: 50px auto 20px;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}
.contact-page .fa-brands {
  color: black;
}
.contact-page .fa-brands:hover {
  color: #ff8562;
}
.btn:hover {
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
}
.btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

/* Work page */
.work-page {
  margin: 80px auto;
}
.work-page-h2 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
}
.work-page-p {
  font-size: 18px;
  padding-bottom: 40px;
}
.project-link {
  color: #06c;
  text-decoration: none;
  font-weight: bold;
}
.project-link:hover {
  color: #06c;
  text-decoration: underline;
}
.work-page-div-img {
  display: inline-block;
  overflow: hidden; /* Скрываем всё за контуром */
}
.work-page-img {
  transition: 1s; /* Время эффекта */
}
.work-page-img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

@media (max-width: 900px) {
  .header-div {
    padding-left: 50px;
  }
  .main-photo {
    display: none;
  }
  .about-me-block {
    padding: 0px;
  }

  /* Work block */
  .about-me-block h2 {
    padding-top: 60px;
    font-size: 52px;
  }
  .about-me-block h3 {
    font-size: 30px;
    padding: 0px;
  }
  .number {
    font-size: 50px;
    padding: 0;
  }
  .contact-page-h4 {
    margin-bottom: 0px;
  }
  .item-works {
    background-color: rgb(180 180 180 / 16%);
    padding: 0px;
    margin: 0px;
  }

  /* Work page */
  .work-page-text {
    text-align: center;
  }

  /* Contact Page */
  .contact-page-h1 {
    font-size: 36px;
  }
  .contact-page .email-work-page {
    font-size: 24px;
  }
  .contact-page .fa-brands {
    color: #ff8562;
  }
}

/* image work page */
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/* RESUME PAGE */
.main-block-resume-page {
  background-color: grey;
}
.course-list__section-inner {
  padding: 20px;
  font-size: 13px;
}
.course-list__section h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 5px 0;
}
.center {
  margin: 0 auto;
  display: block;
  font-family: monospace;
  font-size: 11px;
}
.img-icons {
  width: 100px;
}
.rotating {
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cert {
  width: 100%;
  height: auto;
}
.certeficate {
  margin: 0 auto;
  display: block;
  font-family: monospace;
  font-size: 18px;
}
.resume-btn {
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  width: 250px;
}
.resume-btn:hover {
  background-color: black;
  border-radius: 5px;
  color: #ff8562;
  text-decoration: none;
}
.resume-btn-div {
  margin-bottom: 80px;
}
